<footer>
  <a href="https://creativecommons.org/licenses/by-nc/3.0/deed.pt_BR" target="_blank">
    <span>
        <b>{{ site.owner}}</b>
    </span>
    {% capture currentyear %}{{ 'now' | date: "%Y" }}{% endcapture %}
    <span>© {{ currentyear }}</span>
  </a>
  <div align=center>
       <a href="https://www.linkedin.com/in/alexandremagalhaes/" target="_blank"><i class="fa fa-linkedin"></i></a>
       <a href="https://www.twitter.com/xandowsk" target="_blank"><i class="fa fa-twitter"></i></a>
       <a href="https://www.facebook.com/xandowsk" target="_blank"><i class="fa fa-facebook"></i></a>
       <a href="mailto:mail@afmagalhaes.net" target="_blank"><i class="fa fa-envelope-o"></i></a>
       <a href="/atom.xml" target="_blank"><i class="fa fa-rss"></i></a>
  </div>
</footer>
