<footer>
  <a href="https://www.linkedin.com/in/alexandremagalhaes/" target="_blank"><i class="fa fa-linkedin"></i></a>
  <a href="https://www.twitter.com/xandowsk" target="_blank"><i class="fa fa-twitter"></i></a>
  <a href="https://www.facebook.com/xandowsk" target="_blank"><i class="fa fa-facebook"></i></a>
  <a href="https://www.goodreads.com/xandowsk" target="_blank"><i class="fa fa-book"></i></a>
  <a href="https://letterboxd.com/xandowsk/" target="_blank"><i class="fa fa-film"></i></a>
  <a href="https://www.tvtime.com/pt_BR/user/7584047/profile" target="_blank"><i class="fa fa-television"></i></a>
  <a href="https://www.exophase.com/user/xandowsk/" target="_blank"><i class="fa fa-gamepad"></i></a>
  <a href="mailto:mail@afmagalhaes.net" target="_blank"><i class="fa fa-envelope-o"></i></a>
  <a href="/atom.xml" target="_blank"><i class="fa fa-rss"></i></a><br>
  <a href="https://creativecommons.org/licenses/by-nc/3.0/deed.pt_BR" target="_blank">
    <span>
        <b>{{ site.owner}}</b>
    </span>
    {% capture currentyear %}{{ 'now' | date: "%Y" }}{% endcapture %}
    <span>© {{ currentyear }}</span>
  </a>
</footer>
